<!DOCTYPE html>
<html>
    <head>
        <title>SuperCart</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/styles.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">SuperCart</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <% if(currentUser && currentUser.role === 'admin'){ %>
                            <li><a>Admin</a></li>
                        <% } %>
                        <% if(!currentUser){ %>
                            <li><a href="/login">Login</a></li>
                            <li><a href="/register">Sign Up</a></li>
                        <%} else{%>
                            <li><a href="/cart">My Cart!</a></li>
                            <li><a href="/profile">Signed In As <%=currentUser.username%></a></li>
                            <li><a href="/logout">Logout</a></li>
                        <%}%>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container text-center">
            <% if(error && error.length > 0){ %>
                <div class="alert alert-danger" role="alert">
                    <h3><%= error %></h3>
                </div>
            <% } %>
            <% if(success && success.length > 0){ %>
                <div class="alert alert-success" role="alert">
                    <h3><%= success %></h3>
                </div>
            <% } %>
        </div>